<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>786952869200-1b54m8v6c6ojgptmgvmgmfmn08l03lj8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.786952869200-1b54m8v6c6ojgptmgvmgmfmn08l03lj8</string>
	<key>API_KEY</key>
	<string>AIzaSyAsy_JgPloOD6iDj14PKF60wzHFa9_qlbY</string>
	<key>GCM_SENDER_ID</key>
	<string>786952869200</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aaryaneilnimbalkar.Home-Remodel</string>
	<key>PROJECT_ID</key>
	<string>home-remodel-75716</string>
	<key>STORAGE_BUCKET</key>
	<string>home-remodel-75716.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:786952869200:ios:b97fdbb5a9e31337ca0855</string>
</dict>
</plist>